body, html {
    height: 100%;
    margin: 0;
}

.my-layout-container {
    position: relative;
    width: 1920px;
    height: 1080px;
    border: 1px solid #000;
    background: #FFD7D7;
    mix-blend-mode: overlay;
}

.styled-layout,
.second-styled-layout {
    position: absolute;
    transform: translateX(-50%);
}


.CHARACTERS-text,
.ACCESSORIES-text {
    width: 196px;
    height: 37px;
    flex-shrink: 0;
    color: #000;
    font-family: Anton, sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.CHARACTERS-text {
    position: absolute;
    left: 10%;
}

.ACCESSORIES-text {
    position: absolute;
    right: 10%; 
}

.BACKGROUND-text-container {
    border-radius: 10px;
    width: 285px;
    height: 50px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    border: 2px solid #ffffff;
}

.BACKGROUND-text {
    text-align: center;
    color: #FFFFFF;
    font-family: Anton, sans-serif;
    font-size: 32px; 
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.styled-layout,
.second-styled-layout {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.styled-layout {
    top: 5%;
    width: 1299px;
    height: 81px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 5px solid #000;
    background: #7EB9EF;
}

.second-styled-layout {
    top: 15%; 
    width: 1299px;
    height: 608px;
    border: 5px solid #000;
    background: #7EB9EF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.bg1-container,
.bg2-container,
.bg3-container,
.bg4-container {
    position: absolute;
    width: 290px;
    height: 186px;
    flex-shrink: 0;
    top: 50px; 
    border: 3px solid #000;
}

.bg1-container {
    left: 20px;
}

.bg2-container {
    left: 350px;
}

.bg3-container {
    left: 670px;
}

.bg4-container {
    left: 990px;
}


.another-bg1-container,
.another-bg2-container,
.another-bg3-container,
.another-bg4-container {
    position: absolute;
    width: 290px;
    height: 186px;
    flex-shrink: 0;
    top: 350px; 
    border: 3px solid #000;
}

.another-bg1-container {
    left: 20px;
}

.another-bg2-container {
    left: 350px;
}

.another-bg3-container {
    left: 670px;
}

.another-bg4-container {
    left: 990px;
}